body{
    background-color: rgb(16, 19, 18);
    margin: 50px;
}
h1{
    color: aliceblue;
    border: 2px solid blanchedalmond;
}

li{

    background-color: rgb(100, 115, 255);
    padding: 30px 10px;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    margin: 36px auto 36px auto;
    border-radius: 50px;
    font-size: 20px;;
}

.first{
    background-color: rgb(8, 134, 92);
    color:white;
}
.snd{
    color: rgb(238, 252, 117);
}
p{
    color: aliceblue    ;
}
/* ol{
    background-color: rgb(231, 193, 193);
    padding: 35px;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    width: 500px;
    margin: 36px auto 0 auto;
    border-radius: 50px;
    font-size: 20px;;
} */
a{
    background-color: rgb(219, 0, 0);
border-radius: 5px;
padding: 2px;
}