body {
  text-align: center;
  background-color: beige;
  font-family: "Comforter Brush";
  font-size: xx-large;
}
h1 {
  color: red;
}
p {
  color: brown;
}
#someid {
  color: blueviolet;
}
a {
  text-decoration: line-through;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: blueviolet;
}
